* {
	margin: 0;
	padding: 0;
}

.content {
	display: flex;
	flex-wrap: wrap;
}

nav, 
menu {
	display: flex;
	background-color: yellowgreen;
	justify-content: flex-end;
	align-items: center;
	flex: 100%;
}

menu {
	display: none;
}

span {
	padding: 10px;
}

#display-menu {
	display: none;
}

input[type=checkbox]:checked ~ nav {
	display: flex;
}

section {
	display: flex;
	flex-wrap: wrap;
}

aside {
	background-color: beige;
	flex: 1;
}

article {
	background-color: coral;
	flex: 2;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	background-color: tomato;
	flex: 100%;
}

@media all and (max-width: 800px) {
	nav {
		justify-content: space-around;
	}
}

@media all and (max-width: 500px) {
	section {
		flex-direction: column-reverse;
	}

	nav {
		display: none;
		flex-direction: column;
	}

	menu {
		display: flex;
		justify-content: flex-end;
	}
}